
# Python 관련
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# 환경 설정 파일
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode 관련
.vscode/
*.code-workspace

# PyCharm 관련
.idea/

# 로그 파일
*.log

# 데이터 파일
/data/

# 기타
*.swp
*~
.DS_Store
Thumbs.db